<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846337587745-avp2gh34m4tpk241mlrmg8d5qg2ku4bd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846337587745-avp2gh34m4tpk241mlrmg8d5qg2ku4bd</string>
	<key>API_KEY</key>
	<string>AIzaSyBSmViGVJDTLDFltkAXWVs5Nf3aDq1joVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>846337587745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.boginni.mobvendas.mobVendas</string>
	<key>PROJECT_ID</key>
	<string>mob-vendas-ddac5</string>
	<key>STORAGE_BUCKET</key>
	<string>mob-vendas-ddac5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846337587745:ios:f830b12dd37fa5af008160</string>
</dict>
</plist>